<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.title {
	position: absolute;
	width: 592px;
	height: 116px;
	left: 257px;
	top: 267px;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 64px;
	line-height: 90%;
	/* or 58px */

	letter-spacing: -0.03em;
	text-transform: uppercase;
}</style>
<!-- end Simple Custom CSS and JS -->
